# ***Assignment # 7***

##### Make a class called Employee. The __init__() method for Employee should store its different attributes: name, number, address, salary, post, year of joining, education, and his year of experience.

In [48]:
# print("Please enter your details.......")
# name = input("What is your name? ")
# number = int(input("Your Phone number?"))
# address = input("Your Address?")
# salary = int(input("Your Salary?"))
# post = input("Your post?")
# year_of_joining = int(input("Your year_of_joining?"))
# education = input("Your education?")
# years_of_experience = int(input("Your years_of_experience?"))


class Employee:
    def __init__(self, name, number, address, salary, post, year_of_joining, education, years_of_experience):
        self.name = name
        self.number = number
        self.address = address
        self.salary = salary
        self.post = post
        self.year_of_joining = year_of_joining
        self.education = education
        self.years_of_experience = years_of_experience

    def describe_employee(self):
        print()
        #print("==================================== YOUR DETAILS ARE ========================================================")
        return (f"Employee Name: {self.name}\n"
                f"Employee Number: {self.number}\n"
                f"Address: {self.address}\n"
                f"Salary: {self.salary}\n"
                f"Post: {self.post}\n"
                f"Year of Joining: {self.year_of_joining}\n"
                f"Education: {self.education}\n"
                f"Years of Experience: {self.years_of_experience}")

    def update_year_of_experience(self, update_year_of_experience): 
        print("===========================Updates the employee's years of experience =============================")
        self.years_of_experience = update_year_of_experience 
        print(f"Years of experience updated to {self.years_of_experience}")

    def increase_salary(self,increase_salary):
        print("======================================== Increases the employee's salary by a specified amount ============================" )
        self.salary += increase_salary 
        print(f"Salary increased by {increase_salary}. New salary is {self.salary}")



# employee = Employee(name, number, address, salary, post, year_of_joining, education,years_of_experience)
employe = Employee(
    name="John Doe",
    number=12345,
    address="123 Main St, Cityville",
    salary=75000,
    post="Software Engineer",
    year_of_joining=2015,
    education="Bachelor's in Computer Science",
    years_of_experience=8
)

print(employe.describe_employee())
print(employe.update_year_of_experience(2008))
print(employe.increase_salary(2008))

==================================== YOUR DETAILS ARE ========================================================
Employee Name: John Doe
Employee Number: 12345
Address: 123 Main St, Cityville
Salary: 75000
Post: Software Engineer
Year of Joining: 2015
Education: Bachelor's in Computer Science
Years of Experience: 8
===========================Updates the employee's years of experience =============================
Years of experience updated to 2008
None
======================================== Increases the employee's salary by a specified amount ============================
Salary increased by 2008. New salary is 77008
None

In [54]:
# Creating 10 different instances of the Employee class
employee1 = Employee("Alice Brown", 201, "789 Pine St, Smallville", 54000, "HR Manager", 2016, "Bachelor's in Business Administration", 7)
employee2 = Employee("Bob Johnson", 202, "321 Cedar Ave, Metro City", 85000, "Project Manager", 2014, "MBA", 10)
employee3 = Employee("Charlie Davis", 203, "987 Maple St, Big City", 62000, "Data Scientist", 2019, "Master's in Data Science", 5)
employee4 = Employee("Diana Evans", 204, "654 Spruce St, Citytown", 45000, "Marketing Specialist", 2020, "Bachelor's in Marketing", 4)
employee5 = Employee("Edward Foster", 205, "432 Birch Blvd, Smallville", 70000, "Software Engineer", 2017, "Bachelor's in Computer Science", 6)
employee6 = Employee("Fiona Green", 206, "876 Elm St, Metropolis", 56000, "Accountant", 2018, "Master's in Accounting", 6)
employee7 = Employee("George Harris", 207, "543 Willow Ln, Urbanville", 68000, "Sales Manager", 2015, "Bachelor's in Sales and Marketing", 9)
employee8 = Employee("Hannah Wright", 208, "210 Oakwood Dr, Metro City", 47000, "Graphic Designer", 2021, "Bachelor's in Graphic Design", 3)
employee9 = Employee("Ian Thomas", 209, "135 Chestnut St, Capital City", 76000, "Business Analyst", 2013, "MBA", 11)
employee10 = Employee("Jasmine Young", 210, "951 Redwood Ave, Metropolis", 62000, "Content Writer", 2019, "Bachelor's in English", 5)

# Calling describe_employee() for each instance
employees = [employee1, employee2, employee3, employee4, employee5, employee6, employee7, employee8, employee9, employee10]

for employee in employees:
    print(employee.describe_employee())
    print("-" * 40)

# Performing some updates using the class methods
employee1.increase_salary(5000)  # Increase salary for Alice Brown
employee2.update_year_of_experience(12)  # Update experience for Bob Johnson
employee3.increase_salary(4000)  # Increase salary for Charlie Davis
employee4.update_year_of_experience(5)  # Update experience for Diana Evans
employee5.increase_salary(6000)  # Increase salary for Edward Foster
employee6.update_year_of_experience(7)  # Update experience for Fiona Green
employee7.increase_salary(3000)  # Increase salary for George Harris
employee8.update_year_of_experience(4)  # Update experience for Hannah Wright
employee9.increase_salary(7000)  # Increase salary for Ian Thomas
employee10.update_year_of_experience(6)  # Update experience for Jasmine Young

# Describing employees again after updates
print("\nAfter Updates:\n" + "=" * 40)
for employee in employees:
    print(employee.describe_employee())
    print("-" * 40)


# print(employee1.describe_employee())

==================================== YOUR DETAILS ARE ========================================================
Employee Name: Alice Brown
Employee Number: 201
Address: 789 Pine St, Smallville
Salary: 54000
Post: HR Manager
Year of Joining: 2016
Education: Bachelor's in Business Administration
Years of Experience: 7
----------------------------------------

==================================== YOUR DETAILS ARE ========================================================
Employee Name: Bob Johnson
Employee Number: 202
Address: 321 Cedar Ave, Metro City
Salary: 85000
Post: Project Manager
Year of Joining: 2014
Education: MBA
Years of Experience: 10
----------------------------------------

==================================== YOUR DETAILS ARE ========================================================
Employee Name: Charlie Davis
Employee Number: 203
Address: 987 Maple St, Big City
Salary: 62000
Post: Data Scientist
Year of Joining: 2019
Education: Master's in Data Science
Years of Experience: 5
----------------------------------------

==================================== YOUR DETAILS ARE ========================================================
Employee Name: Diana Evans
Employee Number: 204
Address: 654 Spruce St, Citytown
Salary: 45000
Post: Marketing Specialist
Year of Joining: 2020
Education: Bachelor's in Marketing
Years of Experience: 4
----------------------------------------

==================================== YOUR DETAILS ARE ========================================================
Employee Name: Edward Foster
Employee Number: 205
Address: 432 Birch Blvd, Smallville
Salary: 70000
Post: Software Engineer
Year of Joining: 2017
Education: Bachelor's in Computer Science
Years of Experience: 6
----------------------------------------

==================================== YOUR DETAILS ARE ========================================================
Employee Name: Fiona Green
Employee Number: 206
Address: 876 Elm St, Metropolis
Salary: 56000
Post: Accountant
Year of Joining: 2018
Education: Master's in Accounting
Years of Experience: 6
----------------------------------------

==================================== YOUR DETAILS ARE ========================================================
Employee Name: George Harris
Employee Number: 207
Address: 543 Willow Ln, Urbanville
Salary: 68000
Post: Sales Manager
Year of Joining: 2015
Education: Bachelor's in Sales and Marketing
Years of Experience: 9
----------------------------------------

==================================== YOUR DETAILS ARE ========================================================
Employee Name: Hannah Wright
Employee Number: 208
Address: 210 Oakwood Dr, Metro City
Salary: 47000
Post: Graphic Designer
Year of Joining: 2021
Education: Bachelor's in Graphic Design
Years of Experience: 3
----------------------------------------

==================================== YOUR DETAILS ARE ========================================================
Employee Name: Ian Thomas
Employee Number: 209
Address: 135 Chestnut St, Capital City
Salary: 76000
Post: Business Analyst
Year of Joining: 2013
Education: MBA
Years of Experience: 11
----------------------------------------

==================================== YOUR DETAILS ARE ========================================================
Employee Name: Jasmine Young
Employee Number: 210
Address: 951 Redwood Ave, Metropolis
Salary: 62000
Post: Content Writer
Year of Joining: 2019
Education: Bachelor's in English
Years of Experience: 5
----------------------------------------
======================================== Increases the employee's salary by a specified amount ============================
Salary increased by 5000. New salary is 59000
===========================Updates the employee's years of experience =============================
Years of experience updated to 12
======================================== Increases the employee's salary by a specified amount ============================
Salary increased by 4000. New salary is 66000
===========================Updates the employee's years of experience =============================
Years of experience updated to 5
======================================== Increases the employee's salary by a specified amount ============================
Salary increased by 6000. New salary is 76000
===========================Updates the employee's years of experience =============================
Years of experience updated to 7
======================================== Increases the employee's salary by a specified amount ============================
Salary increased by 3000. New salary is 71000
===========================Updates the employee's years of experience =============================
Years of experience updated to 4
======================================== Increases the employee's salary by a specified amount ============================
Salary increased by 7000. New salary is 83000
===========================Updates the employee's years of experience =============================
Years of experience updated to 6

After Updates:
========================================

==================================== YOUR DETAILS ARE ========================================================
Employee Name: Alice Brown
Employee Number: 201
Address: 789 Pine St, Smallville
Salary: 59000
Post: HR Manager
Year of Joining: 2016
Education: Bachelor's in Business Administration
Years of Experience: 7
----------------------------------------

==================================== YOUR DETAILS ARE ========================================================
Employee Name: Bob Johnson
Employee Number: 202
Address: 321 Cedar Ave, Metro City
Salary: 85000
Post: Project Manager
Year of Joining: 2014
Education: MBA
Years of Experience: 12
----------------------------------------

==================================== YOUR DETAILS ARE ========================================================
Employee Name: Charlie Davis
Employee Number: 203
Address: 987 Maple St, Big City
Salary: 66000
Post: Data Scientist
Year of Joining: 2019
Education: Master's in Data Science
Years of Experience: 5
----------------------------------------

==================================== YOUR DETAILS ARE ========================================================
Employee Name: Diana Evans
Employee Number: 204
Address: 654 Spruce St, Citytown
Salary: 45000
Post: Marketing Specialist
Year of Joining: 2020
Education: Bachelor's in Marketing
Years of Experience: 5
----------------------------------------

==================================== YOUR DETAILS ARE ========================================================
Employee Name: Edward Foster
Employee Number: 205
Address: 432 Birch Blvd, Smallville
Salary: 76000
Post: Software Engineer
Year of Joining: 2017
Education: Bachelor's in Computer Science
Years of Experience: 6
----------------------------------------

==================================== YOUR DETAILS ARE ========================================================
Employee Name: Fiona Green
Employee Number: 206
Address: 876 Elm St, Metropolis
Salary: 56000
Post: Accountant
Year of Joining: 2018
Education: Master's in Accounting
Years of Experience: 7
----------------------------------------

==================================== YOUR DETAILS ARE ========================================================
Employee Name: George Harris
Employee Number: 207
Address: 543 Willow Ln, Urbanville
Salary: 71000
Post: Sales Manager
Year of Joining: 2015
Education: Bachelor's in Sales and Marketing
Years of Experience: 9
----------------------------------------

==================================== YOUR DETAILS ARE ========================================================
Employee Name: Hannah Wright
Employee Number: 208
Address: 210 Oakwood Dr, Metro City
Salary: 47000
Post: Graphic Designer
Year of Joining: 2021
Education: Bachelor's in Graphic Design
Years of Experience: 4
----------------------------------------

==================================== YOUR DETAILS ARE ========================================================
Employee Name: Ian Thomas
Employee Number: 209
Address: 135 Chestnut St, Capital City
Salary: 83000
Post: Business Analyst
Year of Joining: 2013
Education: MBA
Years of Experience: 11
----------------------------------------

==================================== YOUR DETAILS ARE ========================================================
Employee Name: Jasmine Young
Employee Number: 210
Address: 951 Redwood Ave, Metropolis
Salary: 62000
Post: Content Writer
Year of Joining: 2019
Education: Bachelor's in English
Years of Experience: 6
----------------------------------------