# **Assignment # 5**

##### 1. You need to store and manage employee records where each record includes an employee's ID, name, and department. (Use tuples to represent each employee record).

In [3]:
# Employees data records using tuples
employee_1 = (101, "Ahmed Khan", "HR")
employee_2 = (102, "Ayesha Siddiqui", "IT")
employee_3 = (103, "Fatima Noor", "Finance")
employee_4 = (104, "Ali Raza", "Marketing")
employee_5 = (105, "Hassan Malik", "Operations")
employee_6 = (106, "Zainab Ali", "IT")
employee_7 = (107, "Omar Farooq", "HR")
employee_8 = (108, "Sara Ahmed", "Finance")
employee_9 = (109, "Bilal Shaikh", "Marketing")
employee_10 = (110, "Mariam Khan", "Operations")

# tuple in a list
employees = [
    employee_1, employee_2, employee_3, employee_4, employee_5,
    employee_6, employee_7, employee_8, employee_9, employee_10
]
employees

[(101, 'Ahmed Khan', 'HR'),
 (102, 'Ayesha Siddiqui', 'IT'),
 (103, 'Fatima Noor', 'Finance'),
 (104, 'Ali Raza', 'Marketing'),
 (105, 'Hassan Malik', 'Operations'),
 (106, 'Zainab Ali', 'IT'),
 (107, 'Omar Farooq', 'HR'),
 (108, 'Sara Ahmed', 'Finance'),
 (109, 'Bilal Shaikh', 'Marketing'),
 (110, 'Mariam Khan', 'Operations')]

##### 2. You are managing an inventory system where each item has an item ID, description, and quantity available. (Use tuples to represent each inventory item).

In [5]:
# inventory data records using tuples
item_1 = (201, "Laptop - Dell Inspiron", 25)
item_2 = (202, "Smartphone - Samsung Galaxy", 50)
item_3 = (203, "Tablet - Apple iPad", 30)
item_4 = (204, "Monitor - HP 24-inch", 15)
item_5 = (205, "Keyboard - Logitech Wireless", 60)
item_6 = (206, "Mouse - Microsoft Ergonomic", 40)
item_7 = (207, "Printer - Canon Pixma", 10)
item_8 = (208, "Router - TP-Link WiFi", 35)
item_9 = (209, "Headphones - Sony Noise Cancelling", 20)
item_10 = (210, "External Hard Drive - Seagate 1TB", 45)

# tuple in a list
inventory = [
    item_1, item_2, item_3, item_4, item_5,
    item_6, item_7, item_8, item_9, item_10
]
inventory

[(201, 'Laptop - Dell Inspiron', 25),
 (202, 'Smartphone - Samsung Galaxy', 50),
 (203, 'Tablet - Apple iPad', 30),
 (204, 'Monitor - HP 24-inch', 15),
 (205, 'Keyboard - Logitech Wireless', 60),
 (206, 'Mouse - Microsoft Ergonomic', 40),
 (207, 'Printer - Canon Pixma', 10),
 (208, 'Router - TP-Link WiFi', 35),
 (209, 'Headphones - Sony Noise Cancelling', 20),
 (210, 'External Hard Drive - Seagate 1TB', 45)]

##### 3. You need to store the dates and times of scheduled events, like meetings or appointments. (Use tuples to store date and time information).

In [7]:
# scheduled events using tuples
event_1 = ("2024-08-20", "09:00 AM", "Team Meeting")
event_2 = ("2024-08-21", "02:00 PM", "Client Presentation")
event_3 = ("2024-08-22", "11:00 AM", "Project Update Meeting")
event_4 = ("2024-08-23", "03:30 PM", "HR Interview")
event_5 = ("2024-08-24", "10:00 AM", "Product Launch")
event_6 = ("2024-08-25", "04:00 PM", "Performance Review")
event_7 = ("2024-08-26", "01:00 PM", "Strategy Planning")
event_8 = ("2024-08-27", "08:00 AM", "Morning Briefing")
event_9 = ("2024-08-28", "12:00 PM", "Lunch with CEO")
event_10 = ("2024-08-29", "05:00 PM", "Weekly Wrap-Up Meeting")

# tuple in a list
events = [
    event_1, event_2, event_3, event_4, event_5,
    event_6, event_7, event_8, event_9, event_10
]
events

[('2024-08-20', '09:00 AM', 'Team Meeting'),
 ('2024-08-21', '02:00 PM', 'Client Presentation'),
 ('2024-08-22', '11:00 AM', 'Project Update Meeting'),
 ('2024-08-23', '03:30 PM', 'HR Interview'),
 ('2024-08-24', '10:00 AM', 'Product Launch'),
 ('2024-08-25', '04:00 PM', 'Performance Review'),
 ('2024-08-26', '01:00 PM', 'Strategy Planning'),
 ('2024-08-27', '08:00 AM', 'Morning Briefing'),
 ('2024-08-28', '12:00 PM', 'Lunch with CEO'),
 ('2024-08-29', '05:00 PM', 'Weekly Wrap-Up Meeting')]

##### 4. Store a company's employee details, organized by department. (Use dictionary in dictionary).

In [16]:
# Nested Dictionary
company_employees = {
    "HR": {
        101: {"Name": "Ahmed Khan", "Position": "HR Manager"},
        102: {"Name": "Omar Farooq", "Position": "HR Assistant"},
    },
    "IT": {
        201: {"Name": "Ayesha Siddiqui", "Position": "IT Specialist"},
        202: {"Name": "Zainab Ali", "Position": "Software Engineer"},
        203: {"Name": "Bilal Shaikh", "Position": "Network Administrator"},
    },
    "Finance": {
        301: {"Name": "Fatima Noor", "Position": "Finance Manager"},
        302: {"Name": "Sara Ahmed", "Position": "Accountant"},
    },
    "Marketing": {
        401: {"Name": "Ali Raza", "Position": "Marketing Director"},
        402: {"Name": "Hassan Malik", "Position": "Marketing Specialist"},
    },
    "Operations": {
        501: {"Name": "Mariam Khan", "Position": "Operations Manager"},
        502: {"Name": "Kashif Ali", "Position": "Operations Coordinator"},
    }
}

company_employees

{'HR': {101: {'Name': 'Ahmed Khan', 'Position': 'HR Manager'},
  102: {'Name': 'Omar Farooq', 'Position': 'HR Assistant'}},
 'IT': {201: {'Name': 'Ayesha Siddiqui', 'Position': 'IT Specialist'},
  202: {'Name': 'Zainab Ali', 'Position': 'Software Engineer'},
  203: {'Name': 'Bilal Shaikh', 'Position': 'Network Administrator'}},
 'Finance': {301: {'Name': 'Fatima Noor', 'Position': 'Finance Manager'},
  302: {'Name': 'Sara Ahmed', 'Position': 'Accountant'}},
 'Marketing': {401: {'Name': 'Ali Raza', 'Position': 'Marketing Director'},
  402: {'Name': 'Hassan Malik', 'Position': 'Marketing Specialist'}},
 'Operations': {501: {'Name': 'Mariam Khan', 'Position': 'Operations Manager'},
  502: {'Name': 'Kashif Ali', 'Position': 'Operations Coordinator'}}}

##### 5. Keep track of student scores in various subjects and retrieve a student's scores. (Use dictionary in List).

In [22]:
# List of dictionaries to store student scores
students_scores = [
    {"Student ID": 1, "Name": "Ali Hassan", "Scores": {"Math": 85, "Science": 90, "English": 78}},
    {"Student ID": 2, "Name": "Aisha Noor", "Scores": {"Math": 92, "Science": 88, "English": 84}},
    {"Student ID": 3, "Name": "Zain Malik", "Scores": {"Math": 75, "Science": 80, "English": 72}},
    {"Student ID": 4, "Name": "Fatima Sheikh", "Scores": {"Math": 89, "Science": 94, "English": 91}},
    {"Student ID": 5, "Name": "Omar Ali", "Scores": {"Math": 77, "Science": 82, "English": 85}},
]

# Function to retrieve a student's scores by Student ID
def get_student_scores(student_id):
    for student in students_scores:
        if student["Student ID"] == student_id:
            return student
    return None

# Example: Retrieve scores for a student with ID 3
student_id_to_search = 3
student_info = get_student_scores(student_id_to_search)

if student_info:
    print(f"Student ID: {student_info['Student ID']}, Name: {student_info['Name']}")
    for subject, score in student_info["Scores"].items():
        print(f"{subject}: {score}")
else:
    print(f"No student found with ID {student_id_to_search}")

Student ID: 3, Name: Zain Malik
Math: 75
Science: 80
English: 72

In [30]:
students=[
    {"student_1" : {"Name": "Afra", "ID" : 345 , "Department" : "PG"}},
    {"student_2" : {"Name": "Afra", "ID" : 78 , "Department" : "IEEE"}},
    {"student_3" : {"Name": "Afra", "ID" : 789 , "Department" : "ES"}},
    {"student_4" : {"Name": "Afra", "ID" : 310 , "Department" : "CS"}}
]
students[1][0
]

KeyError: 3